openapi: 3.0.1
info:
  title: Gateway Dispatcher
  description: Handles and enroutes all the CDA validations and/or publications
  termsOfService: https://www.fascicolosanitario.gov.it/it/note-legali
  contact:
    name: Fascicolo Sanitario Elettronico 2.0
    url: https://developers.italia.it/it/fse/
  version: 1.0.0
  x-api-id: '1'
  x-summary: Handles and enroutes all the CDA validations and/or publications
servers:
  - url: https://modipa-val.fse.salute.gov.it/govway/rest/in/FSE/gateway/v1
    description: Generated server url
    x-sandbox: true
security:
  - bearerAuth: []
  - FSE-JWT-Signature: []
tags:
  - name: Servizio ispezione transazioni
  - name: Servizio validazione documenti
  - name: Servizio pubblicazione documenti
  - name: Health check Status Actuator
paths:
  /documents/{idDoc}:
    put:
      tags:
        - Servizio pubblicazione documenti
      summary: Pubblicazione replace documenti
      description: Sostituisce il documento identificato da oid fornito in input.
      operationId: replace
      parameters:
        - name: idDoc
          in: path
          required: true
          schema:
            maxLength: 256
            minLength: 1
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - requestBody
              type: object
              properties:
                requestBody:
                  $ref: '#/components/schemas/PublicationUpdateReqDTO'
                file:
                  maxLength: 1000
                  type: string
                  format: binary
              additionalProperties: false
      responses:
        '200':
          description: Presa in carico eseguita con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationResDTO'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '403':
          description: Token jwt mancante o non valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '415':
          description: Unsupported media type
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '502':
          description: Invalid response received from the API Implementation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '504':
          description: Endpoint request timed-out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
      security:
        - bearerAuth: []
        - FSE-JWT-Signature: []
    delete:
      tags:
        - Servizio pubblicazione documenti
      summary: Eliminazione documento
      description: Elimina il documento identificato da oid fornito in input.
      operationId: delete
      parameters:
        - name: idDoc
          in: path
          required: true
          schema:
            maxLength: 256
            minLength: 1
            type: string
      responses:
        '200':
          description: Cancellazione eseguita con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWifDTO'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '403':
          description: Token jwt mancante o non valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '502':
          description: Invalid response received from the API Implementation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '504':
          description: Endpoint request timed-out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
      security:
        - bearerAuth: []
        - FSE-JWT-Signature: []
  /documents/{idDoc}/metadata:
    put:
      tags:
        - Servizio pubblicazione documenti
      summary: Pubblicazione aggiornamento metadati
      description: Pubblicazione aggiornamento metadati dato l'identificativo documento.
      operationId: updateMetadata
      parameters:
        - name: idDoc
          in: path
          required: true
          schema:
            maxLength: 256
            minLength: 1
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicationMetadataReqDTO'
        required: true
      responses:
        '200':
          description: Aggiornamento eseguito con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWifDTO'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '403':
          description: Token jwt mancante o non valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '502':
          description: Invalid response received from the API Implementation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '504':
          description: Endpoint request timed-out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
      security:
        - bearerAuth: []
        - FSE-JWT-Signature: []
  /documents/validate-and-replace/{idDoc}:
    put:
      tags:
        - Servizio pubblicazione documenti
      summary: Pubblicazione replace documenti
      description: Sostituisce il documento identificato da oid fornito in input.
      operationId: validateAndReplace
      parameters:
        - name: idDoc
          in: path
          required: true
          schema:
            maxLength: 256
            minLength: 1
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - requestBody
              type: object
              properties:
                requestBody:
                  $ref: '#/components/schemas/ValidateAndReplaceDTO'
                file:
                  maxLength: 1000
                  type: string
                  format: binary
              additionalProperties: false
      responses:
        '200':
          description: Presa in carico eseguita con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationResDTO'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '403':
          description: Token jwt mancante o non valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '415':
          description: Unsupported media type
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '422':
          description: Richiesta semanticamente non processabile
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '502':
          description: Invalid response received from the API Implementation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '504':
          description: Endpoint request timed-out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
      security:
        - bearerAuth: []
        - FSE-JWT-Signature: []
  /documents:
    post:
      tags:
        - Servizio pubblicazione documenti
      summary: Pubblicazione creazione documenti
      description: Pubblica con l'intento di generare nuove risorse FHIR.
      operationId: create
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - requestBody
              type: object
              properties:
                requestBody:
                  $ref: '#/components/schemas/PublicationCreationReqDTO'
                file:
                  maxLength: 1000
                  type: string
                  format: binary
              additionalProperties: false
      responses:
        '201':
          description: Presa in carico eseguita con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationResDTO'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '403':
          description: Token jwt mancante o non valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '415':
          description: Unsupported media type
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '502':
          description: Invalid response received from the API Implementation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '504':
          description: Endpoint request timed-out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
      security:
        - bearerAuth: []
        - FSE-JWT-Signature: []
  /documents/validation:
    post:
      tags:
        - Servizio validazione documenti
      summary: Validazione documenti
      description: Valida il CDA iniettato nel PDF fornito in input.
      operationId: validate
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - requestBody
              type: object
              properties:
                requestBody:
                  $ref: '#/components/schemas/ValidationCDAReqDTO'
                file:
                  maxLength: 1000
                  type: string
                  format: binary
              additionalProperties: false
      responses:
        '200':
          description: Validazione positiva a seguito di activity verifica
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResDTO'
        '201':
          description: Validazione positiva a seguito di activity validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResDTO'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '403':
          description: Token jwt mancante o non valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '415':
          description: Unsupported media type
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '422':
          description: Richiesta semanticamente non processabile
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '502':
          description: Invalid response received from the API Implementation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '504':
          description: Endpoint request timed-out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
      security:
        - bearerAuth: []
        - FSE-JWT-Signature: []
  /documents/validate-and-create:
    post:
      tags:
        - Servizio pubblicazione documenti
      summary: Pubblicazione creazione documenti
      description: Pubblica con l'intento di generare nuove risorse FHIR.
      operationId: validateAndCreate
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - requestBody
              type: object
              properties:
                requestBody:
                  $ref: '#/components/schemas/ValidateAndCreateDTO'
                file:
                  maxLength: 1000
                  type: string
                  format: binary
              additionalProperties: false
      responses:
        '201':
          description: Presa in carico eseguita con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationResDTO'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '403':
          description: Token jwt mancante o non valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '415':
          description: Unsupported media type
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '422':
          description: Richiesta semanticamente non processabile
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '502':
          description: Invalid response received from the API Implementation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        '504':
          description: Endpoint request timed-out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponseDTO'
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
      security:
        - bearerAuth: []
        - FSE-JWT-Signature: []
  /status/{workflowInstanceId}:
    get:
      tags:
        - Servizio ispezione transazioni
      summary: Recupero eventi del workflow instance id
      description: Recupera il dettaglio degli eventi tramite il workflow instance id.
      operationId: getEvents
      parameters:
        - name: workflowInstanceId
          in: path
          description: Identificativo del workflow
          required: true
          schema:
            maxLength: 256
            minLength: 0
            type: string
            description: Identificativo del workflow
      responses:
        '200':
          description: Eventi recuperati con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInspectResDTO'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '403':
          description: Token jwt mancante o non valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '502':
          description: Invalid response received from the API Implementation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '504':
          description: Endpoint request timed-out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
  /status/search/{traceId}:
    get:
      tags:
        - Servizio ispezione transazioni
      summary: Recupero eventi del trace id
      description: Recupera il dettaglio degli eventi tramite il trace id.
      operationId: getEventsByTraceId
      parameters:
        - name: traceId
          in: path
          required: true
          schema:
            maxLength: 100
            minLength: 1
            type: string
      responses:
        '200':
          description: Eventi recuperati con successo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionInspectResDTO'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '403':
          description: Token jwt mancante o non valido
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '413':
          description: Payload too large
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '429':
          description: Too Many Requests
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '502':
          description: Invalid response received from the API Implementation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        '504':
          description: Endpoint request timed-out
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
  /status:
    get:
      tags:
        - Health check Status Actuator
      summary: Health check status
      description: Health check endpoint.
      operationId: health
      responses:
        '200':
          description: Health check OK
          content:
            application/problem+json: {}
        '500':
          description: Internal Server Error
          content:
            application/problem+json: {}
        default:
          description: default
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDTO'
components:
  schemas:
    PublicationUpdateReqDTO:
      required:
        - assettoOrganizzativo
        - identificativoDoc
        - identificativoRep
        - identificativoSottomissione
        - tipoAttivitaClinica
        - tipoDocumentoLivAlto
        - tipologiaStruttura
      type: object
      properties:
        tipologiaStruttura:
          type: string
          description: Tipologia struttura che ha prodotto il documento
          enum:
            - Ospedale
            - Prevenzione
            - Territorio
            - SistemaTS
            - Cittadino
            - MdsPN_DGC
        attiCliniciRegoleAccesso:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Regola di accesso
        tipoDocumentoLivAlto:
          type: string
          description: Tipo documento alto livello
          enum:
            - WOR
            - REF
            - LDO
            - RIC
            - SUM
            - TAC
            - PRS
            - PRE
            - ESE
            - PDC
            - VAC
            - CER
            - VRB
            - CON
            - CNT
        assettoOrganizzativo:
          type: string
          description: Assetto organizzativo che ha portato alla creazione del documento
          enum:
            - AD_PSC001
            - AD_PSC002
            - AD_PSC003
            - AD_PSC004
            - AD_PSC005
            - AD_PSC006
            - AD_PSC007
            - AD_PSC008
            - AD_PSC009
            - AD_PSC010
            - AD_PSC011
            - AD_PSC012
            - AD_PSC013
            - AD_PSC014
            - AD_PSC015
            - AD_PSC018
            - AD_PSC019
            - AD_PSC020
            - AD_PSC021
            - AD_PSC024
            - AD_PSC025
            - AD_PSC026
            - AD_PSC027
            - AD_PSC028
            - AD_PSC029
            - AD_PSC030
            - AD_PSC031
            - AD_PSC032
            - AD_PSC033
            - AD_PSC034
            - AD_PSC035
            - AD_PSC036
            - AD_PSC037
            - AD_PSC038
            - AD_PSC039
            - AD_PSC040
            - AD_PSC041
            - AD_PSC042
            - AD_PSC043
            - AD_PSC046
            - AD_PSC047
            - AD_PSC048
            - AD_PSC049
            - AD_PSC050
            - AD_PSC051
            - AD_PSC052
            - AD_PSC054
            - AD_PSC055
            - AD_PSC056
            - AD_PSC057
            - AD_PSC058
            - AD_PSC060
            - AD_PSC061
            - AD_PSC062
            - AD_PSC064
            - AD_PSC065
            - AD_PSC066
            - AD_PSC067
            - AD_PSC068
            - AD_PSC069
            - AD_PSC070
            - AD_PSC071
            - AD_PSC072
            - AD_PSC073
            - AD_PSC074
            - AD_PSC075
            - AD_PSC076
            - AD_PSC077
            - AD_PSC078
            - AD_PSC094
            - AD_PSC096
            - AD_PSC097
            - AD_PSC098
            - AD_PSC099
            - AD_PSC100
            - AD_PSC101
            - AD_PSC102
            - AD_PSC103
            - AD_PSC104
            - AD_PSC107
            - AD_PSC109
            - AD_PSC121
            - AD_PSC122
            - AD_PSC126
            - AD_PSC129
            - AD_PSC130
            - AD_PSC131
            - AD_PSC199
            - AD_PSC999
        dataInizioPrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data inizio prestazione
        dataFinePrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data fine prestazione
        conservazioneANorma:
          maxLength: 100
          minLength: 0
          type: string
          description: Conservazione a norma
        tipoAttivitaClinica:
          type: string
          description: Tipo attivitÃ  clinica
          enum:
            - PHR
            - CON
            - DIS
            - ERP
            - Sistema_TS
            - INI
            - PN_DGC
            - OBS
        identificativoSottomissione:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo sottomissione
        descriptions:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Descriptions
        administrativeRequest:
          maxItems: 1000
          minItems: 0
          type: array
          description: Administrative request
          items:
            type: string
            description: Administrative request
            enum:
              - SSN
              - INPATIENT
              - NOSSN
              - SSR
              - DONOR
        identificativoDoc:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo documento
        identificativoRep:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo repository
        mode:
          type: string
          description: ModalitÃ  di iniezione del CDA
          enum:
            - ATTACHMENT
            - RESOURCE
        healthDataFormat:
          type: string
          description: Formato dei dati sanitari
          enum:
            - CDA
        workflowInstanceId:
          maxLength: 256
          minLength: 0
          type: string
          description: Identificativo del workflow
      additionalProperties: false
    ErrorResponseDTO:
      type: object
      properties:
        traceID:
          maxLength: 100
          minLength: 0
          type: string
          description: Indentificativo univoco della richiesta dell'utente
        spanID:
          maxLength: 100
          minLength: 0
          type: string
          description: Indentificativo univoco di un task della richiesta dell'utente (differisce dal traceID solo in caso di chiamate sincrone in cascata)
        type:
          maxLength: 100
          minLength: 0
          type: string
          description: URI da utilizzare come identificativo del problema che si Ã¨ verificato
        title:
          maxLength: 1000
          minLength: 0
          type: string
          description: Descrizione sintetica della tipologia dâ€™errore
        detail:
          maxLength: 200000
          minLength: 0
          type: string
          description: Dettaglio della tipologia dâ€™errore
        status:
          maximum: 599
          minimum: 100
          type: integer
          description: Stato http
          format: int32
        instance:
          maxLength: 100
          minLength: 0
          type: string
          description: URI che identifica la specifica occorrenza del problema
      additionalProperties: false
    PublicationResDTO:
      type: object
      properties:
        traceID:
          maxLength: 100
          minLength: 0
          type: string
        spanID:
          maxLength: 100
          minLength: 0
          type: string
        warning:
          maxLength: 10000
          minLength: 0
          type: string
          description: Dettaglio del warning
        workflowInstanceId:
          maxLength: 256
          minLength: 0
          type: string
          description: Identificativo del workflow instance id
      additionalProperties: false
    PublicationMetadataReqDTO:
      required:
        - assettoOrganizzativo
        - identificativoSottomissione
        - tipoAttivitaClinica
        - tipoDocumentoLivAlto
        - tipologiaStruttura
      type: object
      properties:
        tipologiaStruttura:
          type: string
          description: Tipologia struttura che ha prodotto il documento
          enum:
            - Ospedale
            - Prevenzione
            - Territorio
            - SistemaTS
            - Cittadino
            - MdsPN_DGC
        attiCliniciRegoleAccesso:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Regola di accesso
        tipoDocumentoLivAlto:
          type: string
          description: Tipo documento alto livello
          enum:
            - WOR
            - REF
            - LDO
            - RIC
            - SUM
            - TAC
            - PRS
            - PRE
            - ESE
            - PDC
            - VAC
            - CER
            - VRB
            - CON
            - CNT
        assettoOrganizzativo:
          type: string
          description: Assetto organizzativo che ha portato alla creazione del documento
          enum:
            - AD_PSC001
            - AD_PSC002
            - AD_PSC003
            - AD_PSC004
            - AD_PSC005
            - AD_PSC006
            - AD_PSC007
            - AD_PSC008
            - AD_PSC009
            - AD_PSC010
            - AD_PSC011
            - AD_PSC012
            - AD_PSC013
            - AD_PSC014
            - AD_PSC015
            - AD_PSC018
            - AD_PSC019
            - AD_PSC020
            - AD_PSC021
            - AD_PSC024
            - AD_PSC025
            - AD_PSC026
            - AD_PSC027
            - AD_PSC028
            - AD_PSC029
            - AD_PSC030
            - AD_PSC031
            - AD_PSC032
            - AD_PSC033
            - AD_PSC034
            - AD_PSC035
            - AD_PSC036
            - AD_PSC037
            - AD_PSC038
            - AD_PSC039
            - AD_PSC040
            - AD_PSC041
            - AD_PSC042
            - AD_PSC043
            - AD_PSC046
            - AD_PSC047
            - AD_PSC048
            - AD_PSC049
            - AD_PSC050
            - AD_PSC051
            - AD_PSC052
            - AD_PSC054
            - AD_PSC055
            - AD_PSC056
            - AD_PSC057
            - AD_PSC058
            - AD_PSC060
            - AD_PSC061
            - AD_PSC062
            - AD_PSC064
            - AD_PSC065
            - AD_PSC066
            - AD_PSC067
            - AD_PSC068
            - AD_PSC069
            - AD_PSC070
            - AD_PSC071
            - AD_PSC072
            - AD_PSC073
            - AD_PSC074
            - AD_PSC075
            - AD_PSC076
            - AD_PSC077
            - AD_PSC078
            - AD_PSC094
            - AD_PSC096
            - AD_PSC097
            - AD_PSC098
            - AD_PSC099
            - AD_PSC100
            - AD_PSC101
            - AD_PSC102
            - AD_PSC103
            - AD_PSC104
            - AD_PSC107
            - AD_PSC109
            - AD_PSC121
            - AD_PSC122
            - AD_PSC126
            - AD_PSC129
            - AD_PSC130
            - AD_PSC131
            - AD_PSC199
            - AD_PSC999
        dataInizioPrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data inizio prestazione
        dataFinePrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data fine prestazione
        conservazioneANorma:
          maxLength: 100
          minLength: 0
          type: string
          description: Conservazione a norma
        tipoAttivitaClinica:
          type: string
          description: Tipo attivitÃ  clinica
          enum:
            - PHR
            - CON
            - DIS
            - ERP
            - Sistema_TS
            - INI
            - PN_DGC
            - OBS
        identificativoSottomissione:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo sottomissione
        descriptions:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Descriptions
        administrativeRequest:
          maxItems: 1000
          minItems: 0
          type: array
          description: Administrative request
          items:
            type: string
            description: Administrative request
            enum:
              - SSN
              - INPATIENT
              - NOSSN
              - SSR
              - DONOR
      additionalProperties: false
    ResponseWifDTO:
      type: object
      properties:
        traceID:
          maxLength: 100
          minLength: 0
          type: string
        spanID:
          maxLength: 100
          minLength: 0
          type: string
        warning:
          maxLength: 10000
          minLength: 0
          type: string
          description: Dettaglio del warning
        workflowInstanceId:
          maxLength: 256
          minLength: 0
          type: string
          description: Identificativo del workflow instance id
      additionalProperties: false
    ValidateAndReplaceDTO:
      required:
        - assettoOrganizzativo
        - identificativoDoc
        - identificativoRep
        - identificativoSottomissione
        - tipoAttivitaClinica
        - tipoDocumentoLivAlto
        - tipologiaStruttura
      type: object
      properties:
        tipologiaStruttura:
          type: string
          description: Tipologia struttura che ha prodotto il documento
          enum:
            - Ospedale
            - Prevenzione
            - Territorio
            - SistemaTS
            - Cittadino
            - MdsPN_DGC
        attiCliniciRegoleAccesso:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Regola di accesso
        tipoDocumentoLivAlto:
          type: string
          description: Tipo documento alto livello
          enum:
            - WOR
            - REF
            - LDO
            - RIC
            - SUM
            - TAC
            - PRS
            - PRE
            - ESE
            - PDC
            - VAC
            - CER
            - VRB
            - CON
            - CNT
        assettoOrganizzativo:
          type: string
          description: Assetto organizzativo che ha portato alla creazione del documento
          enum:
            - AD_PSC001
            - AD_PSC002
            - AD_PSC003
            - AD_PSC004
            - AD_PSC005
            - AD_PSC006
            - AD_PSC007
            - AD_PSC008
            - AD_PSC009
            - AD_PSC010
            - AD_PSC011
            - AD_PSC012
            - AD_PSC013
            - AD_PSC014
            - AD_PSC015
            - AD_PSC018
            - AD_PSC019
            - AD_PSC020
            - AD_PSC021
            - AD_PSC024
            - AD_PSC025
            - AD_PSC026
            - AD_PSC027
            - AD_PSC028
            - AD_PSC029
            - AD_PSC030
            - AD_PSC031
            - AD_PSC032
            - AD_PSC033
            - AD_PSC034
            - AD_PSC035
            - AD_PSC036
            - AD_PSC037
            - AD_PSC038
            - AD_PSC039
            - AD_PSC040
            - AD_PSC041
            - AD_PSC042
            - AD_PSC043
            - AD_PSC046
            - AD_PSC047
            - AD_PSC048
            - AD_PSC049
            - AD_PSC050
            - AD_PSC051
            - AD_PSC052
            - AD_PSC054
            - AD_PSC055
            - AD_PSC056
            - AD_PSC057
            - AD_PSC058
            - AD_PSC060
            - AD_PSC061
            - AD_PSC062
            - AD_PSC064
            - AD_PSC065
            - AD_PSC066
            - AD_PSC067
            - AD_PSC068
            - AD_PSC069
            - AD_PSC070
            - AD_PSC071
            - AD_PSC072
            - AD_PSC073
            - AD_PSC074
            - AD_PSC075
            - AD_PSC076
            - AD_PSC077
            - AD_PSC078
            - AD_PSC094
            - AD_PSC096
            - AD_PSC097
            - AD_PSC098
            - AD_PSC099
            - AD_PSC100
            - AD_PSC101
            - AD_PSC102
            - AD_PSC103
            - AD_PSC104
            - AD_PSC107
            - AD_PSC109
            - AD_PSC121
            - AD_PSC122
            - AD_PSC126
            - AD_PSC129
            - AD_PSC130
            - AD_PSC131
            - AD_PSC199
            - AD_PSC999
        dataInizioPrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data inizio prestazione
        dataFinePrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data fine prestazione
        conservazioneANorma:
          maxLength: 100
          minLength: 0
          type: string
          description: Conservazione a norma
        tipoAttivitaClinica:
          type: string
          description: Tipo attivitÃ  clinica
          enum:
            - PHR
            - CON
            - DIS
            - ERP
            - Sistema_TS
            - INI
            - PN_DGC
            - OBS
        identificativoSottomissione:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo sottomissione
        descriptions:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Descriptions
        administrativeRequest:
          maxItems: 1000
          minItems: 0
          type: array
          description: Administrative request
          items:
            type: string
            description: Administrative request
            enum:
              - SSN
              - INPATIENT
              - NOSSN
              - SSR
              - DONOR
        identificativoDoc:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo documento
        identificativoRep:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo repository
        mode:
          type: string
          description: ModalitÃ  di iniezione del CDA
          enum:
            - ATTACHMENT
            - RESOURCE
        healthDataFormat:
          type: string
          description: Formato dei dati sanitari
          enum:
            - CDA
      additionalProperties: false
    ValidationErrorResponseDTO:
      type: object
      properties:
        traceID:
          maxLength: 100
          minLength: 0
          type: string
          description: Indentificativo univoco della richiesta dell'utente
        spanID:
          maxLength: 100
          minLength: 0
          type: string
          description: Indentificativo univoco di un task della richiesta dell'utente (differisce dal traceID solo in caso di chiamate sincrone in cascata)
        type:
          maxLength: 100
          minLength: 0
          type: string
          description: URI da utilizzare come identificativo del problema che si Ã¨ verificato
        title:
          maxLength: 1000
          minLength: 0
          type: string
          description: Descrizione sintetica della tipologia dâ€™errore
        detail:
          maxLength: 200000
          minLength: 0
          type: string
          description: Dettaglio della tipologia dâ€™errore
        status:
          maximum: 599
          minimum: 100
          type: integer
          description: Stato http
          format: int32
        instance:
          maxLength: 100
          minLength: 0
          type: string
          description: URI che identifica la specifica occorrenza del problema
        workflowInstanceId:
          maxLength: 256
          minLength: 0
          type: string
          description: Identificativo del workflow
      additionalProperties: false
    PublicationCreationReqDTO:
      required:
        - assettoOrganizzativo
        - identificativoDoc
        - identificativoRep
        - identificativoSottomissione
        - tipoAttivitaClinica
        - tipoDocumentoLivAlto
        - tipologiaStruttura
      type: object
      properties:
        tipologiaStruttura:
          type: string
          description: Tipologia struttura che ha prodotto il documento
          enum:
            - Ospedale
            - Prevenzione
            - Territorio
            - SistemaTS
            - Cittadino
            - MdsPN_DGC
        attiCliniciRegoleAccesso:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Regola di accesso
        tipoDocumentoLivAlto:
          type: string
          description: Tipo documento alto livello
          enum:
            - WOR
            - REF
            - LDO
            - RIC
            - SUM
            - TAC
            - PRS
            - PRE
            - ESE
            - PDC
            - VAC
            - CER
            - VRB
            - CON
            - CNT
        assettoOrganizzativo:
          type: string
          description: Assetto organizzativo che ha portato alla creazione del documento
          enum:
            - AD_PSC001
            - AD_PSC002
            - AD_PSC003
            - AD_PSC004
            - AD_PSC005
            - AD_PSC006
            - AD_PSC007
            - AD_PSC008
            - AD_PSC009
            - AD_PSC010
            - AD_PSC011
            - AD_PSC012
            - AD_PSC013
            - AD_PSC014
            - AD_PSC015
            - AD_PSC018
            - AD_PSC019
            - AD_PSC020
            - AD_PSC021
            - AD_PSC024
            - AD_PSC025
            - AD_PSC026
            - AD_PSC027
            - AD_PSC028
            - AD_PSC029
            - AD_PSC030
            - AD_PSC031
            - AD_PSC032
            - AD_PSC033
            - AD_PSC034
            - AD_PSC035
            - AD_PSC036
            - AD_PSC037
            - AD_PSC038
            - AD_PSC039
            - AD_PSC040
            - AD_PSC041
            - AD_PSC042
            - AD_PSC043
            - AD_PSC046
            - AD_PSC047
            - AD_PSC048
            - AD_PSC049
            - AD_PSC050
            - AD_PSC051
            - AD_PSC052
            - AD_PSC054
            - AD_PSC055
            - AD_PSC056
            - AD_PSC057
            - AD_PSC058
            - AD_PSC060
            - AD_PSC061
            - AD_PSC062
            - AD_PSC064
            - AD_PSC065
            - AD_PSC066
            - AD_PSC067
            - AD_PSC068
            - AD_PSC069
            - AD_PSC070
            - AD_PSC071
            - AD_PSC072
            - AD_PSC073
            - AD_PSC074
            - AD_PSC075
            - AD_PSC076
            - AD_PSC077
            - AD_PSC078
            - AD_PSC094
            - AD_PSC096
            - AD_PSC097
            - AD_PSC098
            - AD_PSC099
            - AD_PSC100
            - AD_PSC101
            - AD_PSC102
            - AD_PSC103
            - AD_PSC104
            - AD_PSC107
            - AD_PSC109
            - AD_PSC121
            - AD_PSC122
            - AD_PSC126
            - AD_PSC129
            - AD_PSC130
            - AD_PSC131
            - AD_PSC199
            - AD_PSC999
        dataInizioPrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data inizio prestazione
        dataFinePrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data fine prestazione
        conservazioneANorma:
          maxLength: 100
          minLength: 0
          type: string
          description: Conservazione a norma
        tipoAttivitaClinica:
          type: string
          description: Tipo attivitÃ  clinica
          enum:
            - PHR
            - CON
            - DIS
            - ERP
            - Sistema_TS
            - INI
            - PN_DGC
            - OBS
        identificativoSottomissione:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo sottomissione
        descriptions:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Descriptions
        administrativeRequest:
          maxItems: 1000
          minItems: 0
          type: array
          description: Administrative request
          items:
            type: string
            description: Administrative request
            enum:
              - SSN
              - INPATIENT
              - NOSSN
              - SSR
              - DONOR
        identificativoDoc:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo documento
        identificativoRep:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo repository
        mode:
          type: string
          description: ModalitÃ  di iniezione del CDA
          enum:
            - ATTACHMENT
            - RESOURCE
        healthDataFormat:
          type: string
          description: Formato dei dati sanitari
          enum:
            - CDA
        workflowInstanceId:
          maxLength: 256
          minLength: 0
          type: string
          description: Identificativo del workflow
        priorita:
          type: boolean
          description: Priorita
      additionalProperties: false
    ValidationCDAReqDTO:
      required:
        - activity
      type: object
      properties:
        healthDataFormat:
          type: string
          description: Formato dei dati sanitari
          enum:
            - CDA
        mode:
          type: string
          description: ModalitÃ  di iniezione del CDA
          enum:
            - ATTACHMENT
            - RESOURCE
        activity:
          type: string
          description: AttivitÃ  del gateway
          enum:
            - VERIFICA
            - VALIDATION
      additionalProperties: false
    ValidationResDTO:
      type: object
      properties:
        traceID:
          maxLength: 100
          minLength: 0
          type: string
        spanID:
          maxLength: 100
          minLength: 0
          type: string
        workflowInstanceId:
          maxLength: 256
          minLength: 0
          type: string
          description: Identificativo univoco della transazione
        warning:
          maxLength: 200000
          minLength: 0
          type: string
          description: Dettaglio del warning
      additionalProperties: false
    ValidateAndCreateDTO:
      required:
        - assettoOrganizzativo
        - identificativoDoc
        - identificativoRep
        - identificativoSottomissione
        - tipoAttivitaClinica
        - tipoDocumentoLivAlto
        - tipologiaStruttura
      type: object
      properties:
        tipologiaStruttura:
          type: string
          description: Tipologia struttura che ha prodotto il documento
          enum:
            - Ospedale
            - Prevenzione
            - Territorio
            - SistemaTS
            - Cittadino
            - MdsPN_DGC
        attiCliniciRegoleAccesso:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Regola di accesso
        tipoDocumentoLivAlto:
          type: string
          description: Tipo documento alto livello
          enum:
            - WOR
            - REF
            - LDO
            - RIC
            - SUM
            - TAC
            - PRS
            - PRE
            - ESE
            - PDC
            - VAC
            - CER
            - VRB
            - CON
            - CNT
        assettoOrganizzativo:
          type: string
          description: Assetto organizzativo che ha portato alla creazione del documento
          enum:
            - AD_PSC001
            - AD_PSC002
            - AD_PSC003
            - AD_PSC004
            - AD_PSC005
            - AD_PSC006
            - AD_PSC007
            - AD_PSC008
            - AD_PSC009
            - AD_PSC010
            - AD_PSC011
            - AD_PSC012
            - AD_PSC013
            - AD_PSC014
            - AD_PSC015
            - AD_PSC018
            - AD_PSC019
            - AD_PSC020
            - AD_PSC021
            - AD_PSC024
            - AD_PSC025
            - AD_PSC026
            - AD_PSC027
            - AD_PSC028
            - AD_PSC029
            - AD_PSC030
            - AD_PSC031
            - AD_PSC032
            - AD_PSC033
            - AD_PSC034
            - AD_PSC035
            - AD_PSC036
            - AD_PSC037
            - AD_PSC038
            - AD_PSC039
            - AD_PSC040
            - AD_PSC041
            - AD_PSC042
            - AD_PSC043
            - AD_PSC046
            - AD_PSC047
            - AD_PSC048
            - AD_PSC049
            - AD_PSC050
            - AD_PSC051
            - AD_PSC052
            - AD_PSC054
            - AD_PSC055
            - AD_PSC056
            - AD_PSC057
            - AD_PSC058
            - AD_PSC060
            - AD_PSC061
            - AD_PSC062
            - AD_PSC064
            - AD_PSC065
            - AD_PSC066
            - AD_PSC067
            - AD_PSC068
            - AD_PSC069
            - AD_PSC070
            - AD_PSC071
            - AD_PSC072
            - AD_PSC073
            - AD_PSC074
            - AD_PSC075
            - AD_PSC076
            - AD_PSC077
            - AD_PSC078
            - AD_PSC094
            - AD_PSC096
            - AD_PSC097
            - AD_PSC098
            - AD_PSC099
            - AD_PSC100
            - AD_PSC101
            - AD_PSC102
            - AD_PSC103
            - AD_PSC104
            - AD_PSC107
            - AD_PSC109
            - AD_PSC121
            - AD_PSC122
            - AD_PSC126
            - AD_PSC129
            - AD_PSC130
            - AD_PSC131
            - AD_PSC199
            - AD_PSC999
        dataInizioPrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data inizio prestazione
        dataFinePrestazione:
          maxLength: 100
          minLength: 0
          type: string
          description: Data fine prestazione
        conservazioneANorma:
          maxLength: 100
          minLength: 0
          type: string
          description: Conservazione a norma
        tipoAttivitaClinica:
          type: string
          description: Tipo attivitÃ  clinica
          enum:
            - PHR
            - CON
            - DIS
            - ERP
            - Sistema_TS
            - INI
            - PN_DGC
            - OBS
        identificativoSottomissione:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo sottomissione
        descriptions:
          maxItems: 100
          minItems: 0
          type: array
          items:
            maxLength: 1000
            type: string
            description: Descriptions
        administrativeRequest:
          maxItems: 1000
          minItems: 0
          type: array
          description: Administrative request
          items:
            type: string
            description: Administrative request
            enum:
              - SSN
              - INPATIENT
              - NOSSN
              - SSR
              - DONOR
        identificativoDoc:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo documento
        identificativoRep:
          maxLength: 100
          minLength: 0
          type: string
          description: Identificativo repository
        mode:
          type: string
          description: ModalitÃ  di iniezione del CDA
          enum:
            - ATTACHMENT
            - RESOURCE
        healthDataFormat:
          type: string
          description: Formato dei dati sanitari
          enum:
            - CDA
        priorita:
          type: boolean
          description: Priorita
      additionalProperties: false
    StatusCheckDTO:
      type: object
      properties:
        eventType:
          maxLength: 100
          minLength: 0
          type: string
        eventDate:
          maxLength: 100
          minLength: 0
          type: string
        eventStatus:
          maxLength: 100
          minLength: 0
          type: string
        message:
          maxLength: 10000
          minLength: 0
          type: string
        identificativoDocumento:
          maxLength: 100
          minLength: 0
          type: string
        subject:
          maxLength: 100
          minLength: 0
          type: string
        subjectRole:
          maxLength: 100
          minLength: 0
          type: string
        tipoAttivita:
          maxLength: 100
          minLength: 0
          type: string
        organizzazione:
          maxLength: 100
          minLength: 0
          type: string
        workflowInstanceId:
          maxLength: 256
          minLength: 0
          type: string
        traceId:
          maxLength: 100
          minLength: 0
          type: string
        issuer:
          maxLength: 100
          minLength: 0
          type: string
        expiringDate:
          maxLength: 100
          minLength: 0
          type: string
        extra:
          maxLength: 10000
          minLength: 0
          type: string
      additionalProperties: false
    TransactionInspectResDTO:
      type: object
      properties:
        traceID:
          maxLength: 100
          minLength: 0
          type: string
        spanID:
          maxLength: 100
          minLength: 0
          type: string
        transactionData:
          maxItems: 1000
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/StatusCheckDTO'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token} [RFC8725](https://tools.ietf.org/html/RFC8725)."'
      scheme: bearer
      bearerFormat: JWT
    FSE-JWT-Signature:
      type: apiKey
      name: FSE-JWT-Signature
      in: header